PORT=
SECRET_KEY=

#SMTP service. Not required to run on your machine
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASSWORD=

#DB (POSTGRESQL) Local config
DB_USER=
DB_NAME=
DB_HOST=
DB_PASSWORD=
DB_PORT=