<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/cadastro.css">
    <title>Cadastrar</title>
</head>
<body>
    <div>
        <form action="">
            <h1>cadastre-se</h1>
            <input required placeholder="nome do estabelecimento" type="text">
            <input required placeholder="exemplo@gmail.com" type="email">
            <input required placeholder="senha" type="password">
            <input required placeholder="confirme a senha" type="password">
            <button type="submit">CADASTRAR</button>
        </form>
    </div>
</body>
</html>